<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color-Changing-Game</title>
    <link rel="stylesheet" href="../Assets/Css/Style.css">
</head>
<body>
    <div class="container">
        <div class="target-color">
            target-color:<span id="target-color"></span>
        </div>
      <div class="chessboard">
        <div class="violet"></div>
        <div class="grey"></div>
        <div class="blue"></div>
        <div class="green"></div>
        <div class="yellow"></div>
        <div class="orange"></div>
        <div class="red"></div>
        <div class="pink"></div>
        <div class="blue"></div>
        <div class="green"></div>
        <div class="green"></div>
        <div class="yellow"></div>
        <div class="pink"></div>
        <div class="violet"></div>
        <div class="orange"></div>
        <div class="grey"></div>
      </div>

      
    </div>
</body>
</html>
